<div style="text-align: center">
  <h1>Kalique</h1>

  <h2>Text Generation</h2>


  <%= form_with local: true do |form| %>
    <p>
      <%= form.label :seed %><br>
      <%= form.text_field :seed, id: 'gen_input' %>
    </p>

    <p>
      <%= form.submit "Generate" %>
    </p>
  <% end %>

  <% if @generated != :error %>
    <div style="width: 70%; display: inline-block">
      <div style="text-align: left" id="generated">
        <%= simple_format(@generated) %>
      </div>
    </div>
  <% else %>
    <div id="error_explanation">
      <h2>Texts db is empty. Ask admin to load some posts...</h2>
    </div>
  <% end %>
</div>
